:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-grey: #2e3440; /* Used for the navigation bar and footer */
  --color-white: #eceff4; /* Text color for high contrast on dark backgrounds */
  --color-blue: #5e81ac; /* For section titles and other highlights */
  --color-blue-2: #4c566a; /* Background color for the tier list cards */
  --color-periwinkle: #d8dee9; /* Main background color, soft and light */
  --color-green: #a3be8c; /* For buttons and interactive elements */
}
html {
  background-color: var(--color-grey);
  color: var(--color-white);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Layout */

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  min-height: 100vh;
}

ol,ul,
li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 12px 16px;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.primary {
  background-color: var(--color-blue);
  color: var(--color-white);
  transition: all 0.1s ease-in-out;
}
button.secondary {
  background-color: transparent;
  color: var(--color-white);
}

button:hover {
  filter: contrast(150%);
}

button:active {
  transform: scale(0.95);
  filter: contrast(50%);
}

button:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}
